// @import "*";
// *= require_tree .
// *= require_self
// *= require foundation_and_overrides
@import "colors";
body {
  background-color: $beige;
  header {
    a {
      color: $white;
    }
    color: $white;
  }
  a {
    color: $indigo;
  }
  a:hover {
    color: $plum;
  }
}
