.character-info {

  align-items: start;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  table {

    text-align: left;

  }

  .basic-info {

    text-align: center;
    margin: 0;

  }

  .physical {

    margin-top: 75px;
    text-align: right;

  }

}
