.character-info {

  align-items: start;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  table {

    text-align: left;

  }

  .basic-info {

    margin: 0;
    text-align: center;

  }

  .physical {

    margin-top: 75px;
    text-align: right;

  }

}


.hidden {
  display: none;
}

.header {
  background: $turquoise;
  border: 3px solid $black;
  margin: 3px;
  text-align: center;
}

#edit-delete {
  text-align: center;
}
